<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/main.js"></script>
</head>
<body>
    <h1>Sudoku</h1>
    <main>
        <table>
            <tr id="row-0">
                <td id="col-0" contenteditable>5</td>
                <td id="col-1" contenteditable>4</td>
                <td id="col-2" contenteditable></td>
                <td id="col-3" contenteditable></td>
                <td id="col-4" contenteditable>2</td>
                <td id="col-5" contenteditable></td>
                <td id="col-6" contenteditable>8</td>
                <td id="col-7" contenteditable></td>
                <td id="col-8" contenteditable>6</td>
            </tr>
            <tr id="row-1">
                <td id="col-0" contenteditable></td>
                <td id="col-1" contenteditable>1</td>
                <td id="col-2" contenteditable>9</td>
                <td id="col-3" contenteditable></td>
                <td id="col-4" contenteditable></td>
                <td id="col-5" contenteditable>7</td>
                <td id="col-6" contenteditable></td>
                <td id="col-7" contenteditable></td>
                <td id="col-8" contenteditable>3</td>
            </tr>
            <tr id="row-2">
                <td id="col-0" contenteditable></td>
                <td id="col-1" contenteditable></td>
                <td id="col-2" contenteditable></td>
                <td id="col-3" contenteditable>3</td>
                <td id="col-4" contenteditable></td>
                <td id="col-5" contenteditable></td>
                <td id="col-6" contenteditable>2</td>
                <td id="col-7" contenteditable>1</td>
                <td id="col-8" contenteditable></td>
            </tr>
            <tr id="row-3">
                <td id="col-0" contenteditable>9</td>
                <td id="col-1" contenteditable></td>
                <td id="col-2" contenteditable></td>
                <td id="col-3" contenteditable>4</td>
                <td id="col-4" contenteditable></td>
                <td id="col-5" contenteditable>5</td>
                <td id="col-6" contenteditable></td>
                <td id="col-7" contenteditable>2</td>
                <td id="col-8" contenteditable></td>
            </tr>
            <tr id="row-4">
                <td id="col-0" contenteditable></td>
                <td id="col-1" contenteditable></td>
                <td id="col-2" contenteditable>1</td>
                <td id="col-3" contenteditable></td>
                <td id="col-4" contenteditable></td>
                <td id="col-5" contenteditable></td>
                <td id="col-6" contenteditable>6</td>
                <td id="col-7" contenteditable></td>
                <td id="col-8" contenteditable>4</td>
            </tr>
            <tr id="row-5">
                <td id="col-0" contenteditable>6</td>
                <td id="col-1" contenteditable></td>
                <td id="col-2" contenteditable>4</td>
                <td id="col-3" contenteditable></td>
                <td id="col-4" contenteditable>3</td>
                <td id="col-5" contenteditable>2</td>
                <td id="col-6" contenteditable></td>
                <td id="col-7" contenteditable>8</td>
                <td id="col-8" contenteditable></td>
            </tr>
            <tr id="row-6">
                <td id="col-0" contenteditable></td>
                <td id="col-1" contenteditable>6</td>
                <td id="col-2" contenteditable></td>
                <td id="col-3" contenteditable></td>
                <td id="col-4" contenteditable></td>
                <td id="col-5" contenteditable></td>
                <td id="col-6" contenteditable>1</td>
                <td id="col-7" contenteditable>9</td>
                <td id="col-8" contenteditable></td>
            </tr>
            <tr id="row-7">
                <td id="col-0" contenteditable>4</td>
                <td id="col-1" contenteditable></td>
                <td id="col-2" contenteditable>2</td>
                <td id="col-3" contenteditable></td>
                <td id="col-4" contenteditable></td>
                <td id="col-5" contenteditable>9</td>
                <td id="col-6" contenteditable></td>
                <td id="col-7" contenteditable></td>
                <td id="col-8" contenteditable>5</td>
            </tr>
            <tr id="row-8">
                <td id="col-0" contenteditable></td>
                <td id="col-1" contenteditable>9</td>
                <td id="col-2" contenteditable></td>
                <td id="col-3" contenteditable></td>
                <td id="col-4" contenteditable>7</td>
                <td id="col-5" contenteditable></td>
                <td id="col-6" contenteditable>4</td>
                <td id="col-7" contenteditable></td>
                <td id="col-8" contenteditable>2</td>
            </tr>
        </table>
        <div class="controls">
            <button class="reset">Reset</button>
            <button class="solve">Solve</button>
        </div>
    </main>
</body>
</html>